:root {
    --primary: #b6895b;
    --bg: #010101;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
     border: none;
     text-decoration: none;
     list-style: none;
 }

 html {
    scroll-behavior: smooth;
 }
 
 body{
     font-family: 'Poppins', sans-serif;
     background-color: var(--bg);
     color: black;
     background-color: #fff;
 }
 /* Navbar start */
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.8rem 7%;
   background-color: var(--primary);
   border-bottom: 1px solid #523c27;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
}
.navbar-nav{
 color: var(--bg);
 display: inline-flex;;
 list-style: none;
 font-size: 1.3rem;
 margin: 0 1rem;
 padding: 1rem;
}
.data-list{
   font-size: 15px;
}
.navbar-nav ul{
 display: inline-flex;
 list-style: none;
}
.navbar-nav ul li{
 width: 120px;
 margin: 5px;
 padding: 5px;
}
.navbar-nav ul li a{
 color: whitesmoke;
}
.navbar .navbar-nav a:hover{
    color: var(--bg);
}
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
   transform: scaleX(0.5);
}
.navbar .navbar-extra a {
   color: whitesmoke;
   margin: 0 0.5rem;
   font-size: 1rem;
}
.navbar .navbar-extra a:hover {
   color: var(--bg);
}
#hamburger-menu {
   display: none;
}
/* navbar selesai */
/* search form mulai */
.navbar .search-form {
   position: absolute;
   top: 100%;
   right: 7%;
   background-color: #fff;
   width: 50rem;
   height: 5rem;
   display: flex;
   align-items: center;
   transform: scaleY(0);
   transform-origin: top;
   transition: 0.3s;
 }
 .navbar .search-form.active {
   transform: scaleY(1);
 }
 .navbar .search-form input {
   height: 100%;
   width: 100%;
   font-size: 1.6rem;
   color: var(--bg);
   padding: 1rem;
 }
 .navbar .search-form label {
   cursor: pointer;
   font-size: 2rem;
   margin-right: 1.5rem;
   color: var(--bg);
 }
 /* search form selesai */
 /* sidebar mulai */
 .navbar .sidebar {
   position: fixed;
   left: -250px;
   width: 250px;
   height: 100%;
   top: 1px;
   background: var(--primary);
   transition: all .5s ease;
 }
 .navbar .sidebar header {
   font-size: 20px;
   color: #fff;
   text-align: center;
   line-height: 25px;
   background: #8f6e4b;
   user-select: none;
 }
 .navbar .sidebar.img {
   font-size: 20px;
   margin-right: 50px;
   float: right 50px;
 }
 .navbar .sidebar ul a{
   display: block;
   height: 100%;
   width: 100%;
   line-height: 65px;
   font-size: 20px;
   color: #fff;
   padding-left: 40px;
   box-sizing: border-box;
   border-top: 1px solid rgba(255,255,255,.1);
   border-bottom: 1px solid black;
   transition: .4s;
 }
 .navbar ul li:hover a {
   padding-left: 50px;
 }
 .navbar .sidebar ul a i{
   margin-right: 16px;
 }
 #check {
   display: none;
 }
 .navbar label #btn, label #cancel {
   position: absolute;
   cursor: pointer;
   background: var(--primary);
   border-radius: 3px;
 }
 .navbar label #btn {
   left: 40px;
   top: 20px;
   font-size: 25px;
   color: var(--bg);
   padding: 6px 12px;
   transition: all .5s;
 }
 .navbar label #cancel {
   z-index: 1111;
   left: -195px;
   top: 15px;
   font-size: 25px;
   color: var(--bg);
   padding: 4px 9px;
   transition: all .5s ease;
 }
 #check:checked ~ .sidebar {
   left: 0;
 }
 #check:checked ~ label #btn {
   left: 250px;
   opacity: 0;
   pointer-events: none;
 }
 #check:checked ~ label #cancel {
   left: 195px;
 }
 /* sidebar selesai */
/* hero mulai */
.video-header {
   position:static;
   top: 0;
   left: 0;
   object-fit: cover;
   z-index: 2;
   text-align: center;
   width: 100vw;
   height: 130vh;
 }
 /* hero selesai */
/* Menu start */
.center-text{
   bottom: 50rem;
	text-align: center;
}
.center-text h2{
	margin: 15px 0px 0px;
	font-size: var(--h2-font);
	line-height: 1.1;
}
.center-text h3{
	color: var(--second-color);
	font-size: 35px;
	font-weight: 600;
   font-family: 'Syncopate', sans-serif;
   text-transform: uppercase;
   letter-spacing: 2vw;
   line-height: 1;
   font-size: 3vw;
}
.center-text h3 span{
   color: var(--primary);
   display: block;
  font-size: 8vw;
  letter-spacing: -0.6rem;
}

.menu-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 4.5rem;
	cursor: pointer;
}
.box{
	padding: 15px 50px 15px 50px;
	background: var(--bg-color);
	box-shadow: 0px 5px 40px rgb(19 8 73 / 13%);
	border-radius: 20px;
	transition: all .40s ease;
}
.box-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
.box-img img{
	width: 100%;
	height: auto;
}
.box-text h4{
	color: var(--text-color);
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 10px;
}
.box-text p{
	font-size: var(--p-font);
	color: var(--other-color);
	font-weight: 400;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}
.box-text h6{
	color: var(--second-color);
	font-size: 20px;
	font-weight: 600;
}
.box:hover{
	transform: scale(1.04) translateY(-5px);
}
.box-btn{
	text-align: center;
	margin-top: 5rem;
}
 /* Menu end */
 /* Product start */
 .products h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
 }
 .products span{
    color: var(--primary);
 }
 .products p{
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
    color: var(--bg);
 }
 .products .item{
   color: var(--bg);
 }
 .products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 4rem;
 }
 .products .product-card {
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
 }
 .products .product-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
 }
 .products .product-icons a {
    width: 4rem;
    height: 4rem;
    color: var(--bg);
    margin: 0.3rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .products .product-icons a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
 }
 .products .product-image {
    padding: 1rem 0;
 }
 .products .product-image img {
    height: 25rem;
 }
 .produsts .product-content h3 {
    font-size: 2rem;
 }
 .products .product-stars {
    font-size: 1.7rem;
    padding: 0.8rem;
    color: var(--primary);
 }
 .products .product-stars .star-full {
    fill: var(--primary);
 }
 .products .product-price {
    font-size: 1.3rem;
    font-weight: bold;
 }
 .products .product-price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1rem;
 }
 
 /* Modal Animation */
 @keyframes animateModal {
   from {
     top: -300px;
     opacity: 0;
   }
   to {
     top: 0;
     opacity: 1;
   }
 }
 
 .modal-container .close-icon {
   position: absolute;
   right: 1rem;
 }
 
 .modal-content {
   display: flex;
   flex-wrap: nowrap;
 }
 
 .modal-content img {
   height: 20rem;
   margin-right: 2rem;
   margin-bottom: 2rem;
 }
 
 .modal-content p {
   font-size: 1.2rem;
   line-height: 1.8rem;
   margin-top: 1.2rem;
 }
 
 .modal-content a {
   display: flex;
   gap: 1rem;
   width: 12rem;
   background-color: var(--primary);
   color: #fff;
   margin-top: 1rem;
   padding: 1rem 1.6rem;
 }
 /* Deskripsi selesai */